include README.md
include CHANGELOG.md
include LICENSE

include run.sh
include install.sh
include *.png

include Dockerfile
include production.yml
include development.yml

include VERSION
include pubtrack/VERSION

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif